body{       /*estilização do body*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(216, 169, 212);
}

.clock{
    background-color: rgb(0, 0, 0);
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
}

.time{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}